<p><strong>Cabang {{cabang}}</strong></p>

<table>
  <tr>
    <td><strong>Nama Karyawan</strong></td>
    <td>: {{namakaryawan}}</td>
  </tr>
  <tr>
    <td><strong>Jabatan</strong></td>
    <td>: {{jabatan}}</td>
  </tr>
  <tr>
    <td><strong>Tgl Pengajuan</strong></td>
    <td>: {{tglPengajuan}}</td>
  </tr>
  <tr>
    <td><strong>Jumlah Cuti</strong></td>
    <td>: {{jumlahCuti}} HARI</td>
  </tr>
  <tr>
    <td><strong>Tgl Cuti</strong></td>
    <td>: {{tglCuti}}</td>
  </tr>
  <tr>
    <td><strong>Alasan Pengajuan</strong></td>
    <td>: {{alasanPengajuan}}</td>
  </tr>
  <tr>
    <td><strong>Status</strong></td>
    <td>: {{status}}</td>
  </tr>
</table>

<p>Email ini dikirimkan secara otomatis melalui system.</p>

<p>Harap jangan membalas ke email ini. [TAS_AUTO_GENERATED_EMAIL]</p>

<br/>

<p>Thx & Regards</p>
<p>IT Pusat.</p>
