
<p><strong>CABANG {{cabang}}</strong></p>

<table>
  <tr>
    <td><strong>Nama Karyawan</strong></td>
    <td>: {{namakaryawan}}</td>
  </tr>
  <tr>
    <td><strong>Alamat</strong></td>
    <td>: {{alamat}}</td>
  </tr>
  <tr>
    <td><strong>Jenis Kelamin</strong></td>
    <td>: {{gender}}</td>
  </tr>
  <tr>
    <td><strong>Jabatan</strong></td>
    <td>: {{jabatan}}</td>
  </tr>
  <tr>
    <td><strong>Foto</strong></td>
    <td>: {{foto}}</td>
  </tr>
  <tr>
    <td><strong>Cabang</strong></td>
    <td>: {{cabang}}</td>
  </tr>
  <tr>
    <td><strong>Tgl Masuk</strong></td>
    <td>: {{tglmasukkerja}}</td>
  </tr>
    <tr>
    <td><strong>User Input</strong></td>
    <td>: {{username}}</td>
  </tr>
    <tr>
    <td><strong>Tgl Input</strong></td>
    <td>: {{tglinput}}</td>
  </tr>
</table>

<p>Email ini dikirimkan secara otomatis melalui sistem.</p>

<p>Harap jangan membalas ke email ini. [TAS_AUTO_GENERATED_EMAIL]</p>

<br />

<p>Terima kasih dan selamat bekerja!</p>
<p>Regards,</p>
<p>Tim HR Pusat</p>
